.all .title{
    color: #100078;
    padding-bottom: 10px;
    padding-left: 3px;
}
.inputText{
    background-color: #fff68f;
}
.buttonSubmit{
    color: black;
}
.titleUser{
    padding-right: 50px;
}
