<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Make Quiz Page</title>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/makeQuiz.css">
    </head>
    <body>
    <div class="container">
        <!-- Chèn file header -->
        <div th:insert="~{header :: header}"></div>
        <div class="content fontText sizeText">
            <div class="makeQuestion fontText">
                <!--case user is student-->
                    <div class="warningMakeQuiz sizeText fontText">This function is for teachers only use</div>
                <!--case user is teacher-->
                    <div class="addQuestion">
                        <form action="makequiz" method="post">
                            <div class="noti sizeText">${notify}</div>
                            <div class="flex">
                                <div  class="sizeText colorText padingQ">Question:</div>
                                <div><textarea class="textQuestion fontText" name="question" rows="7">${question}</textarea></div>
                            </div>
                            <div class="flex">
                                <div class="sizeText colorText addOption">Option1:</div>
                                <div><textarea class="textQuestion fontText" name="ans_1" rows="3">${ans_1}</textarea></div>
                            </div>
                            <div class="flex">
                                <div class="sizeText colorText addOption">Option2:</div>
                                <div><textarea class="textQuestion fontText" name="ans_2" rows="3" >${ans_2}</textarea></div>
                            </div>
                            <div class="flex">
                                <div class="sizeText colorText addOption">Option3:</div>
                                <div><textarea class="textQuestion fontText" name="ans_3" rows="3" >${ans_3}</textarea></div>
                            </div>
                            <div class="flex">
                                <div class="sizeText colorText addOption">Option4:</div>
                                <div><textarea class="textQuestion fontText"  name="ans_4" rows="3">${ans_4}</textarea></div>
                            </div>
                            <div class="flex colorText">
                                <div class="sizeText">Answer(s):</div>
                                <div class="flex">
                                    <input class="inputCheck" type="checkbox" name="true_ans"  value="1" ${checkbox1}/> Option 1
                                    <input class="inputCheck" type="checkbox" name="true_ans"  value="2" ${checkbox2}/> Option 2
                                    <input class="inputCheck" type="checkbox" name="true_ans"  value="3" ${checkbox3}/> Option 3
                                    <input class="inputCheck" type="checkbox" name="true_ans"  value="4" ${checkbox4}/> Option 4
                                </div>
                            </div>
                            <div class="submit"><input type="submit" value="Save" /></div>

                        </form>
                    </div>

            </div>
        </div>
    </div>
    </body>
</html>
